include src/*.hh
include src/*.cc
include extern/*.hh
include MANIFEST.in
include README.md
include LICENSE
# These need to be included in sdists to satisfy license requirements
include lummao/vendor/lslopt/COPYING
include lummao/vendor/lslopt/README.md
include autobuild.xml
